.select2-results__option {
  background: #fff;
  color: #818181;
  font-size: 15px; }

#evenz-body.woocommerce #evenz-master {
  /**
	 * Loop items
	 * ===============================================
	 */
  /**
	 * Single product
	 * ===============================================
	 */
  /**
	 * Related
	 * ===============================================
	 */
  /**
	 * Gallery
	 * ===============================================
	 */
  /**
	 * Tabs
	 * ===============================================
	 */
  /**
	 * Cart
	 * =============================================
	 */
  /**
	 * Checkout
	 * ===============================================
	 */
  /**
	 * Customer details
	 * ===============================================
	 */
  /**
	 * My account
	 * ===============================================
	 */
  /**
	 * Form
	 * ===============================================
	 */
  /**
	 * Colors reset
	 * ===============================================
	 */
  /**
	 * Columns
	 */
  /**
	 * Columns
	 */
  /**
	 * Columns
	 */ }
  #evenz-body.woocommerce #evenz-master .evenz-woocommerce-content #respond input#submit, #evenz-body.woocommerce #evenz-master .evenz-woocommerce-content a.button, #evenz-body.woocommerce #evenz-master .evenz-woocommerce-content button.button, #evenz-body.woocommerce #evenz-master .evenz-woocommerce-content input.button,
  #evenz-body.woocommerce #evenz-master #respond input#submit, #evenz-body.woocommerce #evenz-master .woocommerce #respond input#submit, #evenz-body.woocommerce #evenz-master .woocommerce a.button, #evenz-body.woocommerce #evenz-master .woocommerce button.button, #evenz-body.woocommerce #evenz-master .woocommerce input.button {
    padding: 1em 1.4em;
    font-size: 15px;
    line-height: 1em; }
  #evenz-body.woocommerce #evenz-master .woocommerce-button.button.woocommerce-form-login__submit {
    float: none;
    display: block; }
  #evenz-body.woocommerce #evenz-master .button {
    padding: 1em 1.4em;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    min-width: 34px;
    display: inline-block;
    vertical-align: middle;
    border: 0 solid;
    font-size: 12px;
    cursor: pointer;
    text-rendering: geometricPrecision;
    position: relative;
    border-right: 0;
    border-bottom: 0;
    transition: all .4s; }
    #evenz-body.woocommerce #evenz-master .button i {
      line-height: 34px;
      display: inline-block;
      vertical-align: baseline;
      position: relative;
      margin: -1px 0 0 0;
      font-size: 1.5em;
      display: inline-flex;
      display: -webkit-inline-flex;
      vertical-align: bottom; }
    #evenz-body.woocommerce #evenz-master .button.alt {
      border: none;
      line-height: 34px;
      overflow: hidden;
      color: #fff;
      position: relative;
      z-index: 2; }
    #evenz-body.woocommerce #evenz-master .button[disabled] {
      opacity: .4; }
  #evenz-body.woocommerce #evenz-master .button::before, #evenz-body.woocommerce #evenz-master .button::after {
    border: none; }
  #evenz-body.woocommerce #evenz-master input[type="submit"], #evenz-body.woocommerce #evenz-master a.button {
    border: none; }
  #evenz-body.woocommerce #evenz-master ul.products, #evenz-body.woocommerce #evenz-master ul.products {
    margin: 0; }
    #evenz-body.woocommerce #evenz-master ul.products li.product, #evenz-body.woocommerce #evenz-master ul.products li.product {
      margin: 0 15px 40px 15px;
      width: calc(100% - 30px); }
      #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first, #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first {
        margin-right: 15px;
        margin-left: 15px; }
      #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-sale-flash, #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-sale-flash {
        background: #ffd800;
        color: #000;
        padding: 8px 12px;
        top: 0;
        position: absolute;
        left: 0;
        width: auto;
        font-size: 10px;
        border-radius: 0; }
        #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-sale-flash i, #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-sale-flash i {
          opacity: 1;
          vertical-align: middle;
          display: inline-flex;
          margin-top: -1px; }
      #evenz-body.woocommerce #evenz-master ul.products li.product .star-rating span::before, #evenz-body.woocommerce #evenz-master ul.products li.product .star-rating span::before {
        color: #ffd800; }
    #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product, #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product {
      width: calc(33.2% - 30px); }
  #evenz-body.woocommerce #evenz-master .evenz-post__product {
    list-style: none; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product a {
      color: inherit; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .wc-forward {
      display: none;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      bottom: 25%;
      position: absolute;
      width: 100%; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product__rating {
      width: 44%;
      display: inline-block;
      float: right;
      padding: 0;
      font-size: 13px; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product__rating .star-rating {
        float: right;
        line-height: 1.05; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product__lk {
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-post__header .evenz-itemmetas {
      line-height: 1em;
      text-align: left;
      float: left;
      margin-left: -5px; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-post__header .evenz-itemmetas i {
        margin-left: 0; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-post__headercont {
      z-index: 2;
      display: block;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 6px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.02) 28%, rgba(0, 0, 0, 0.02) 100%, rgba(0, 0, 0, 0) 100%); }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-actions__cont {
      display: block;
      z-index: 2;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-actions__cont:hover {
        top: 0;
        opacity: 1; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-actions {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-p-catz {
      display: none;
      float: left; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-p-catz a {
        z-index: 2;
        position: relative; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-a0 {
      top: 50%;
      position: absolute;
      margin-top: -30px;
      margin-left: -30px;
      z-index: 3; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-a0 i::before {
        content: '\e854'; }
      #evenz-body.woocommerce #evenz-master .evenz-post__product .evenz-a0.added i::before {
        content: '\e5ca'; }
    #evenz-body.woocommerce #evenz-master .evenz-post__product .price {
      float: left;
      display: inline-block;
      color: inherit;
      font-size: inherit;
      line-height: inherit; }
  #evenz-body.woocommerce #evenz-master .evenz-product-single {
    position: relative; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-itemmetas > span {
      display: block; }
      #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-itemmetas > span > span {
        opacity: .6; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .product_title.entry-title {
      font-size: 23px; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .product_meta {
      border: 1px solid rgba(150, 150, 150, 0.15);
      border-width: 1px 0 1px 0;
      padding: .7rem 0; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .posted_in {
      margin-bottom: .5em; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-price {
      margin-bottom: 32px;
      font-size: 23px; }
      #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-price del {
        opacity: .6;
        font-size: .6em;
        margin: 0 14px; }
      #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-price ins {
        float: left;
        text-decoration: none; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single div.quantity {
      width: 90px; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-rating .star-rating {
      margin-top: .4em;
      line-height: 1.05; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .evenz-review-form-title {
      margin-top: 30px;
      margin-bottom: 0; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single > .evenz-sale-flash {
      color: #333;
      position: absolute;
      left: 0;
      z-index: 10000;
      font-size: .8em;
      padding: .2em 1.2em .2em .6em;
      background-color: white; }
      #evenz-body.woocommerce #evenz-master .evenz-product-single > .evenz-sale-flash i {
        font-size: 1.4em; }
    #evenz-body.woocommerce #evenz-master .evenz-product-single form.cart table {
      line-height: 2em; }
  #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews .evenz-review-form-title {
    margin-bottom: 16px; }
  #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews .comment-notes {
    margin-bottom: 30px; }
  #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews .form-submit {
    margin-top: 30px; }
  #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews .comment-form-cookies-consent {
    margin-top: 26px; }
  #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews ol.commentlist {
    margin: 1.7rem auto 2.4rem auto; }
    #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews ol.commentlist li {
      list-style: none; }
      #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews ol.commentlist li img.avatar {
        width: 40px;
        height: 40px; }
      #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews ol.commentlist li .comment-text {
        border-width: 0 0 1px 0;
        padding-left: 0;
        margin-left: 56px;
        margin: 0 0 20px 56px;
        padding: 0;
        border-radius: 0; }
        #evenz-body.woocommerce #evenz-master #reviews.woocommerce-Reviews ol.commentlist li .comment-text .meta {
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 5px; }
  #evenz-body.woocommerce #evenz-master section.related.products {
    margin-top: 8%; }
    #evenz-body.woocommerce #evenz-master section.related.products .evenz-caption {
      margin-bottom: 30px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-product-gallery ol li {
    padding: 0;
    width: 20%; }
    #evenz-body.woocommerce #evenz-master .woocommerce-product-gallery ol li:nth-child(4n+1) {
      clear: none; }
    #evenz-body.woocommerce #evenz-master .woocommerce-product-gallery ol li:nth-child(5n+1) {
      clear: left; }
  #evenz-body.woocommerce #evenz-master .woocommerce-product-gallery__trigger {
    top: 4px;
    right: 4px;
    border-radius: 2px;
    background: white; }
  #evenz-body.woocommerce #evenz-master .woocommerce-tabs {
    padding-top: 6%; }
    #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs {
      margin-bottom: 0; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs li {
        border-radius: 0;
        padding-left: 0;
        padding: 0;
        opacity: .5;
        margin: 0 -3px;
        font-size: 15px; }
        #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs li a {
          padding: 8px 14px 6px 14px;
          color: inherit; }
        #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs li::before, #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs li::after {
          display: none; }
        #evenz-body.woocommerce #evenz-master .woocommerce-tabs ul.tabs.wc-tabs li.active {
          opacity: 1; }
    #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel {
      padding: 5%;
      border: 1px solid #ddd;
      border-top: 0;
      font-size: 0.87rem; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel h2 {
        font-size: 1.8em; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel h3 {
        font-size: 1.5em; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel h4 {
        font-size: 1.3em; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel h5 {
        font-size: 1em; }
      #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel > h2:first-child, #evenz-body.woocommerce #evenz-master .woocommerce-tabs .panel .woocommerce-Reviews > div > h2 {
        margin-top: 0; }
  #evenz-body.woocommerce #evenz-master .woocommerce-product-attributes {
    margin-bottom: 0; }
  #evenz-body.woocommerce #evenz-master table.shop_table {
    border: none; }
  #evenz-body.woocommerce #evenz-master .product-thumbnail a, #evenz-body.woocommerce #evenz-master .product-thumbnail a img {
    display: block; }
  #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table {
    border: none;
    border-width: 0; }
    #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table .actions input[type="text"] {
      width: auto;
      margin-right: 20px;
      margin-bottom: 0; }
      #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table .actions input[type="text"] + label {
        float: none; }
    #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table .actions label {
      display: none; }
    #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table .product-quantity {
      width: 90px; }
      #evenz-body.woocommerce #evenz-master .woocommerce-cart-form table.shop_table .product-quantity input {
        margin-top: 15px;
        display: inline-block;
        width: auto;
        min-width: 90px;
        max-width: 90px;
        padding-left: 20px; }
  #evenz-body.woocommerce #evenz-master ul#shipping_method li {
    margin: 0;
    padding: 0; }
  #evenz-body.woocommerce #evenz-master .shipping-calculator-form {
    margin: 30px -2px; }
    #evenz-body.woocommerce #evenz-master .shipping-calculator-form p input {
      margin-bottom: 0; }
    #evenz-body.woocommerce #evenz-master .shipping-calculator-form button[name=calc_shipping] {
      margin-top: 1rem;
      margin-left: 3px; }
    #evenz-body.woocommerce #evenz-master .shipping-calculator-form #calc_shipping_city {
      margin-bottom: .5rem; }
  #evenz-body.woocommerce #evenz-master table tr th, #evenz-body.woocommerce #evenz-master table tr td {
    border-top-width: 0; }
  #evenz-body.woocommerce #evenz-master #add_payment_method #payment ul.payment_methods li, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li {
    list-style: none;
    line-height: 1em; }
    #evenz-body.woocommerce #evenz-master #add_payment_method #payment ul.payment_methods li label, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li label, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li label {
      float: left; }
      #evenz-body.woocommerce #evenz-master #add_payment_method #payment ul.payment_methods li label img, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li label img, #evenz-body.woocommerce #evenz-master #payment ul.payment_methods li label img {
        max-height: 20px; }
  #evenz-body.woocommerce #evenz-master #add_payment_method #payment, #evenz-body.woocommerce #evenz-master .woocommerce-cart #payment, #evenz-body.woocommerce #evenz-master .woocommerce-checkout #payment {
    padding: 3%;
    border-radius: 0; }
  #evenz-body.woocommerce #evenz-master #add_payment_method #payment .payment_method_paypal .about_paypal, #evenz-body.woocommerce #evenz-master .woocommerce-cart #payment .payment_method_paypal .about_paypal, #evenz-body.woocommerce #evenz-master .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    line-height: inherit;
    padding: 0 10px; }
  #evenz-body.woocommerce #evenz-master #add_payment_method #payment div.payment_box, #evenz-body.woocommerce #evenz-master .woocommerce-cart #payment div.payment_box, #evenz-body.woocommerce #evenz-master .woocommerce-checkout #payment div.payment_box {
    margin-top: 33px;
    margin-bottom: 3px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content .woocommerce-column__title,
  #evenz-body.woocommerce #evenz-master .woocommerce-customer-details .woocommerce-column__title {
    font-size: 22px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content address,
  #evenz-body.woocommerce #evenz-master .woocommerce-customer-details address {
    margin: 20px 0 0 0;
    padding: 5%;
    line-height: 2.4em;
    font-size: 13px;
    font-style: initial;
    border: 1px solid #dedede; }
    #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content address p,
    #evenz-body.woocommerce #evenz-master .woocommerce-customer-details address p {
      margin-top: 10px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-navigation {
    padding-right: 16px; }
    #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-navigation ul {
      background: rgba(100, 100, 100, 0.04);
      padding: 5%;
      margin-left: 0; }
      #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-navigation ul li {
        list-style: none;
        border-bottom: 1px solid rgba(100, 100, 100, 0.1); }
        #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-navigation ul li:last-child {
          border: none; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content h3 {
    font-size: 18px;
    margin-top: 0; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content .addresses .title .edit {
    font-size: 13px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset {
    margin-bottom: 30px;
    padding: 4% 5%;
    border-color: rgba(100, 100, 100, 0.1); }
  #evenz-body.woocommerce #evenz-master .woocommerce-MyAccount-content legend {
    font-size: 12px;
    padding: 0 10px;
    text-transform: uppercase; }
  #evenz-body.woocommerce #evenz-master .woocommerce-form-login {
    border-color: rgba(100, 100, 100, 0.1);
    border-radius: 0;
    padding: 4% 5%; }
    #evenz-body.woocommerce #evenz-master .woocommerce-form-login input[type="checkbox"], #evenz-body.woocommerce #evenz-master .woocommerce-form-login input[type="radio"] {
      float: none; }
  #evenz-body.woocommerce #evenz-master .woocommerce form {
    margin-top: 1rem; }
    #evenz-body.woocommerce #evenz-master .woocommerce form p::after {
      content: "";
      width: 100%;
      clear: none; }
    #evenz-body.woocommerce #evenz-master .woocommerce form .evenz-fieldset {
      display: block;
      clear: both;
      position: relative; }
    #evenz-body.woocommerce #evenz-master .woocommerce form label {
      opacity: .8;
      transition: all .3s;
      font-size: 12px; }
    #evenz-body.woocommerce #evenz-master .woocommerce form ::-webkit-input-placeholder {
      opacity: .73; }
    #evenz-body.woocommerce #evenz-master .woocommerce form input:focus::-webkit-input-placeholder, #evenz-body.woocommerce #evenz-master .woocommerce form textarea:focus::-webkit-input-placeholder {
      color: transparent; }
    #evenz-body.woocommerce #evenz-master .woocommerce form .select2 {
      margin-bottom: 16px;
      border-radius: 0;
      line-height: 34px;
      min-height: 36px;
      text-rendering: geometricPrecision; }
    #evenz-body.woocommerce #evenz-master .woocommerce form .select2-container--default .select2-selection--single {
      border-width: 1px;
      border-radius: 0;
      height: auto;
      font-size: 15px;
      padding-left: 6px;
      padding-top: .1em;
      padding-bottom: .1em;
      border: 2px solid rgba(150, 150, 150, 0.7); }
    #evenz-body.woocommerce #evenz-master .woocommerce form .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 38px;
      font-size: 15px;
      color: #808080; }
    #evenz-body.woocommerce #evenz-master .woocommerce form .select2-container--default .select2-selection--single .select2-selection__arrow {
      line-height: inherit;
      height: 100%;
      right: 7px; }
    #evenz-body.woocommerce #evenz-master .woocommerce form .woocommerce-input-wrapper input[type="text"], #evenz-body.woocommerce #evenz-master .woocommerce form .woocommerce-input-wrapper input[type="email"], #evenz-body.woocommerce #evenz-master .woocommerce form .woocommerce-input-wrapper input[type="tel"], #evenz-body.woocommerce #evenz-master .woocommerce form .woocommerce-input-wrapper input[type="password"], #evenz-body.woocommerce #evenz-master .woocommerce form .woocommerce-input-wrapper input[type="number"] {
      padding-left: 15px; }
    #evenz-body.woocommerce #evenz-master .woocommerce form input[type="submit"], #evenz-body.woocommerce #evenz-master .woocommerce form input#submit[type="submit"] {
      min-height: 32px;
      line-height: 32px;
      padding: 4px 16px;
      min-width: 150px;
      font-size: 15px !important; }
    #evenz-body.woocommerce #evenz-master .woocommerce form label {
      margin-bottom: 8px;
      display: inline-block; }
    #evenz-body.woocommerce #evenz-master .woocommerce form textarea {
      height: 80px;
      max-width: 98%; }
    #evenz-body.woocommerce #evenz-master .woocommerce form__inline {
      overflow: hidden; }
  #evenz-body.woocommerce #evenz-master p.price, #evenz-body.woocommerce #evenz-master .woocommerce div.product span.price, #evenz-body.woocommerce #evenz-master div.product .stock, #evenz-body.woocommerce #evenz-master span.onsale, #evenz-body.woocommerce #evenz-master ul.products li.product .price,
  #evenz-body.woocommerce #evenz-master #add_payment_method .cart-collaterals .cart_totals .discount td, #evenz-body.woocommerce #evenz-master .cart-collaterals .cart_totals .discount td, #evenz-body.woocommerce #evenz-master .woocommerce-checkout .cart-collaterals .cart_totals .discount td {
    color: inherit; }
  #evenz-body.woocommerce #evenz-master ul.products, #evenz-body.woocommerce #evenz-master ul.products {
    margin: 0 -15px; }
    #evenz-body.woocommerce #evenz-master ul.products li.product, #evenz-body.woocommerce #evenz-master ul.products li.product {
      margin: 0 15px 40px 15px;
      width: calc(100% - 30px); }
      #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-meta, #evenz-body.woocommerce #evenz-master ul.products li.product .evenz-meta {
        overflow: hidden; }
      #evenz-body.woocommerce #evenz-master ul.products li.product.evenz-post .evenz-meta, #evenz-body.woocommerce #evenz-master ul.products li.product.evenz-post .evenz-meta {
        overflow: hidden; }
    #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product, #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product {
      width: calc(100% - 30px); }
  @media only screen and (min-width: 768px) {
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products[class*=columns-] li.product {
      clear: none; }
    #evenz-body.woocommerce #evenz-master ul.products, #evenz-body.woocommerce #evenz-master ul.products {
      margin: 0 -15px; }
      #evenz-body.woocommerce #evenz-master ul.products li.product, #evenz-body.woocommerce #evenz-master ul.products li.product {
        margin: 0 15px 40px 15px;
        width: calc(50% - 30px);
        float: left;
        clear: none; }
        #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first, #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first {
          margin-right: 15px;
          margin-left: 15px; }
        #evenz-body.woocommerce #evenz-master ul.products li.product:nth-child(4n+1), #evenz-body.woocommerce #evenz-master ul.products li.product:nth-child(4n+1) {
          clear: left; }
      #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product, #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product {
        width: calc(50% - 30px); }
        #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product:nth-child(3n+1), #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product:nth-child(3n+1) {
          clear: left; }
        #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product:nth-child(4n+1), #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product:nth-child(4n+1) {
          clear: none; } }
  @media only screen and (min-width: 960px) {
    #evenz-body.woocommerce #evenz-master ul.products li.product, #evenz-body.woocommerce #evenz-master ul.products li.product {
      margin: 0 15px 40px 15px;
      width: calc(25% - 30px); }
      #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first, #evenz-body.woocommerce #evenz-master ul.products li.product.last, #evenz-body.woocommerce #evenz-master ul.products li.product.first {
        margin-right: 15px;
        margin-left: 15px; }
    #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product, #evenz-body.woocommerce #evenz-master ul.products.columns-3 li.product {
      width: calc(33.2% - 30px); } }
  #evenz-body.woocommerce #evenz-master .form-row.place-order {
    padding-top: 30px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-privacy-policy-text {
    margin-bottom: 30px; }
  #evenz-body.woocommerce #evenz-master .woocommerce-error {
    margin-left: 0; }
    #evenz-body.woocommerce #evenz-master .woocommerce-error li:first-child {
      padding-top: 0; }
  @media only screen and (min-width: 1200px) {
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-1 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-1 li.product {
      width: calc( 100% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-2 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-2 li.product {
      width: calc( 50% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-3 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-3 li.product {
      width: calc( 33.3333333333% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-4 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-4 li.product {
      width: calc( 25% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-5 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-5 li.product {
      width: calc( 20% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-6 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-6 li.product {
      width: calc( 16.6666666667% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-7 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-7 li.product {
      width: calc( 14.2857142857% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-8 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-8 li.product {
      width: calc( 12.5% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-9 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-9 li.product {
      width: calc( 11.1111111111% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-10 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-10 li.product {
      width: calc( 10% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-11 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-11 li.product {
      width: calc( 9.0909090909% - 30px); }
    #evenz-body.woocommerce #evenz-master .woocommerce ul.products.columns-12 li.product, #evenz-body.woocommerce #evenz-master.woocommerce-page ul.products.columns-12 li.product {
      width: calc( 8.3333333333% - 30px); }
    #evenz-body.woocommerce #evenz-master .evenz-product-single .product_title.entry-title {
      font-size: 30px; }
    #evenz-body.woocommerce #evenz-master .evenz-sidebar__shop {
      font-size: 15px; }
      #evenz-body.woocommerce #evenz-master .evenz-sidebar__shop.evenz-sidebar__left-sidebar {
        padding-right: 40px; }
      #evenz-body.woocommerce #evenz-master .evenz-sidebar__shop.evenz-sidebar__right-sidebar {
        padding-left: 40px; } }
.pswp button.pswp__button::before, .pswp button.pswp__button::after {
  display: none !important; }

.pswp--open {
  z-index: 100000; }

.woocommerce #respond input#submit::before, .woocommerce #respond input#submit::after, .woocommerce a.button::before, .woocommerce a.button::after, .woocommerce button.button::before, .woocommerce button.button::after, .woocommerce input.button::before, .woocommerce input.button::after {
  display: none; }

.woocommerce .star-rating {
  line-height: 1.05em; }

/**
 * Desktop improvements
 */
@media only screen and (min-width: 1200px) {
  #add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 55px; } }
/*# sourceMappingURL=woocommerce.css.map */